.recipeDiv {
    display: grid;
    grid-template-columns: 15% 60% 25%;
    position: relative;
    width: 1600px;
    margin: 0 auto;
}

.recipeDiv:hover {
    cursor: pointer;
}

.recipeImgContainer {
    width: 240px;
    height: 240px;
    margin: auto;
    overflow: hidden;
}

.recipeImgContainer>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recipeDescription {
    margin-top: 2%;
    padding-left: 2%;
    display: grid;
    grid-template-rows: 15% 70% 10%;
}

.recipeDescription>span {
    color: gray;
}

.recipeWriter {
    margin-top: 50%;
    margin-left: 35%;
}

#recMedal {
    position: absolute;
    top: 35px;
    right: 90px;
}

#thMedal {
    position: absolute;
    top: 35px;
    right: 150px;
}

.medalImg {
    width: 90px;
    height: 90px;
    position: absolute;
    left: -10px;
    top: 5px;
}