.recommendTitle {
    background-color: #00CAA6;
    height: 50px;
    width: 1600px;
    color: white;
    font-size: 25px;
    line-height: 50px;
    margin: 1% auto
}

.recommendTitle>span {
    margin-left: 1%;
}

.recommendItems {
    margin: 0 auto;
    width: 80%;
}