.board {
    width: 1600px;
    margin: 0 auto;
}

.boardTitle {
    background-color: #00CAA6;
    height: 50px;
    margin-bottom: 1%;
    display: flex;
    justify-content: space-between;
    padding-right: 1%;
}

.boardTitle>span {
    color: white;
    font-size: 25px;
    line-height: 50px;
    text-align: center;
    display: flex;
}

.boardTitle>span:hover {
    cursor: pointer;
}

.boardTitle img {
    margin-top: 5px;
    height: 40px;
    width: 40px;
}

.boardItems {
    margin: 0 auto;
    width: 100%;
}

.boardItems>hr {
    width: 98%;
}

.boardItems>p {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.pagingBtn {
    margin: 5px;
    border-radius: 5px;
    background-color: #00CAA6;
    font-weight: bold;
    border: none;
    color: white;
    width: 30px;
    height: 30px;
}

.pagingBtn:hover{
    cursor: pointer;
    background-color: rgb(12, 250, 180);
}

.pagingBtnDiv {
    display: flex;
    justify-content: center;
    position: relative;
    list-style: none;
}

.insertBtn {
    margin: 5px;
    border-radius: 5px;
    background-color: #00CAA6;
    border: none;
    color: white;
    height: 30px;
    position: absolute;
    right: 10px;
}

.insertBtn:hover {
    cursor: pointer;
    background-color: rgb(12, 250, 180);
}